<!-- <script src="https://giscus.app/client.js"
        data-repo="oldwinter/knowledge-garden"
        data-repo-id="R_kgDOHT-NGQ"
        data-category="备发布站的评论系统"
        data-category-id="DIC_kwDOHT-NGc4CQ3PF"
        data-mapping="og:title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script> -->

{{/*  嵌入waline匿名评论系统  */}}
<!--
<div id="waline"></div>
  <script>
    Waline.init({
      el: '#waline',
      serverURL: 'https://waline.oldwinter.top',
    });
  </script> 
-->